* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: darkorange;
  padding: 8px 12px;
  align-items: center;
}

a {
  color: #fefefe;
  text-decoration: none;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: darkred;
}
.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background: darkslategrey;
  border-radius: 3px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 28px;
  font-size: 24px;
}

@media screen and (max-width: 680px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
